<h2 class="d-inline-block mb-4" id="heading1" *ngIf=" title !== ''">{{ title }}</h2>
<div class="fleet-content-wrapper overflow-auto rounded-3">
  <div class="fleet-wrapper">
    <div class="table-responsive scrollbar border-bottom table-wrapper"
      [ngClass]="{'table-wrapper': !isVehicleClassView, 'taxes-and-fees': isLocationDetailsView}">
      <table class="table table-hover mb-0 overflow-auto rounded-0" [class.vehicle-types-table]="isVehicleTypeView">
        <thead>
          <tr class="border-bottom">
            <th class="sort align-middle white-space-nowrap fw-medium text-nowrap id-actions" data-sort="name">
              <span>ID</span>
            </th>
            <!-- <ng-container *ngFor="let header of headers; let i = index"> -->
              <th *ngFor="let header of headers; let i = index"class="sort align-middle white-space-nowrap fw-medium text-nowrap" [attr.data-sort]="header.header"
                [style.width]="header.width">
                <span>{{ header.header }}</span>
              </th>
            <!-- </ng-container> -->
            <th class="sort align-middle white-space-nowrap fw-medium text-nowrap pe-4 id-actions" data-sort="name">
              <p class="mb-0 text-center">Actions</p>
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <tr *ngFor="let row of tableData; let i = index" (click)="onClickRow(row)">
            <td class="align-middle id-actions">
              <span>{{ i + 1 }}</span>
            </td>
            <ng-container *ngFor="let header of headers; let j = index">

              <td class="align-middle" *ngIf="header.type === 'template'" [style.width]="header.width">
                <ng-container [ngTemplateOutlet]="header.templateRef" [ngTemplateOutletContext]="{ inputValue: row[header.field], index: i, entity: entity, entityName: entityName }"></ng-container>
              </td>

              <td class="align-middle" [style.width]="header.width" *ngIf="header.type !== 'template'">
                <span *ngIf="header.type !== 'template'">{{ row[header.field] }}</span>
              </td>

            </ng-container>
            <td class="align-middle id-actions ps-0">
              <!-- Action buttons -->
              <div class="d-flex align-items-center gap-1 justify-content-center">
                <div *ngIf="!isOneEditIconOnly">
                  @if(checkDisabledClass(i)) {
                  <button class="btn btn-transparent float-end p-1 px-md-2" (click)="toggleClass(i)">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="edit-item"
                      viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3720 4629 c-145 -22 -268 -78 -393 -179 -40 -32 -637 -624 -1329
                                -1316 l-1256 -1259 -15 -70 c-210 -975 -249 -1167 -243 -1200 9 -46 57 -101
                                103 -116 19 -6 54 -9 77 -6 30 4 983 207 1186 252 27 7 2526 2496 2609 2600
                                279 349 224 860 -121 1131 -169 132 -408 195 -618 163z m223 -324 c243 -51
                                410 -294 369 -537 -23 -139 -59 -193 -275 -413 l-192 -196 -340 341 -340 340
                                201 200 c174 174 209 204 266 229 110 50 197 60 311 36z m-688 -1736 c-198
                                -198 -628 -625 -955 -949 l-596 -588 -423 -91 c-233 -50 -425 -90 -427 -88 -1
                                1 38 194 88 427 l90 425 951 953 952 952 340 -340 340 -340 -360 -361z" />
                      </g>
                    </svg>
                  </button>
                  }
                  @if(!checkDisabledClass(i)) {
                  <button class="btn btn-transparent float-end p-1 px-md-2" (click)="toggleClass(i)">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="edit-item"
                      viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M540 4668 c-25 -14 -58 -44 -75 -67 -27 -39 -30 -50 -30 -120 0 -68
                              3 -82 27 -117 15 -21 899 -910 1965 -1975 1590 -1589 1945 -1939 1977 -1949
                              95 -30 201 5 255 86 30 43 39 133 21 190 -10 32 -360 387 -1949 1977 -1065
                              1066 -1953 1950 -1975 1964 -56 40 -153 44 -216 11z" />
                        <path d="M3643 4585 c-138 -25 -294 -94 -385 -170 -18 -15 -239 -226 -491
                              -469 -315 -304 -464 -454 -477 -482 -67 -137 39 -305 192 -304 76 1 115 28
                              332 239 115 110 213 201 217 201 4 0 139 -136 300 -302 l292 -303 -206 -200
                              c-135 -131 -212 -214 -222 -238 -55 -132 32 -283 170 -295 108 -9 104 -12 599
                              467 248 241 472 464 498 496 59 73 120 195 150 300 19 68 23 102 22 225 0 128
                              -4 156 -27 233 -49 159 -115 265 -240 383 -195 186 -462 267 -724 219z m331
                              -458 c89 -45 155 -112 199 -205 30 -63 32 -74 32 -177 0 -103 -2 -114 -32
                              -178 -25 -52 -57 -93 -136 -174 l-103 -105 -298 308 -298 308 89 87 c152 147
                              227 182 381 175 82 -3 101 -7 166 -39z" />
                        <path d="M1611 2815 c-57 -33 -595 -556 -610 -593 -25 -64 -341 -1262 -341
                              -1296 0 -107 98 -206 205 -206 63 0 1289 284 1325 307 57 36 629 595 646 631
                              31 65 30 124 -1 188 -48 97 -147 140 -251 109 -46 -13 -78 -41 -328 -282
                              l-278 -268 -401 -93 c-220 -51 -401 -91 -403 -90 -1 2 46 182 105 400 l106
                              398 245 235 c145 139 254 252 268 277 48 90 20 209 -66 271 -36 26 -54 32
                              -110 35 -57 2 -73 -1 -111 -23z" />
                      </g>
                    </svg>
                  </button>
                  }
                </div>

                <div *ngIf="isOneEditIconOnly" (click)="onClickEdit($event, row, i)">
                  <button class="btn btn-transparent float-end p-1 px-md-2" (click)="toggleClass(i)">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="edit-item"
                      viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3720 4629 c-145 -22 -268 -78 -393 -179 -40 -32 -637 -624 -1329
                                -1316 l-1256 -1259 -15 -70 c-210 -975 -249 -1167 -243 -1200 9 -46 57 -101
                                103 -116 19 -6 54 -9 77 -6 30 4 983 207 1186 252 27 7 2526 2496 2609 2600
                                279 349 224 860 -121 1131 -169 132 -408 195 -618 163z m223 -324 c243 -51
                                410 -294 369 -537 -23 -139 -59 -193 -275 -413 l-192 -196 -340 341 -340 340
                                201 200 c174 174 209 204 266 229 110 50 197 60 311 36z m-688 -1736 c-198
                                -198 -628 -625 -955 -949 l-596 -588 -423 -91 c-233 -50 -425 -90 -427 -88 -1
                                1 38 194 88 427 l90 425 951 953 952 952 340 -340 340 -340 -360 -361z" />
                      </g>
                    </svg>
                  </button>
                </div>
                <button class="btn btn-transparent float-end p-1 px-md-2" (click)="onDeleteIcon($event,'vehicle-types', i)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"
                    class="delete-item">
                    <path
                      d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                    </path>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <app-delete-confirm-modal *ngIf="dialogService.showConfirmDeleteDialog" (deleteClicked)="confirmDelete()"></app-delete-confirm-modal>
  </div>
</div>
