<div class="card">
    <div class="card-body overflow-hidden p-lg-6">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img
            class="img-fluid"
            src="https://cdn-icons-png.flaticon.com/256/6581/6581211.png "
            alt=""
          />
        </div>
        <div class="col-lg-6 ps-lg-4 my-5 text-center text-lg-start">
          <h3 class="text-primary">We are working on it!</h3>
          <p class="lead">and will create something beautiful.</p>
          <a
            class="btn btn-outline-secondary"
            [routerLink]="['/customer/list']"
            
            >Go to Customers page</a
          >
        </div>
      </div>
    </div>
  </div>