@import '../../../../styles/responsive';

.vehicle-detail-form{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    p{
        @include sm{
            font-size: 14px;
        }
    }
}
.example{
    font-size: 14px;
    color: #919191;
}
.dropdown {
  width: 100%;
}
.multiselect-dropdown {
  .dropdown-btn {
      @include lg {
          gap: 6px;
      }
      .selected-item-container {
          .selected-item {
              border: 0 !important;
              margin-right: 0 !important;
              float: none !important;
              max-width: none !important;
              padding: 0 4px !important;
              width: max-content;
          }
      }
  }
}
