@import "../../../../styles/common.scss";
.nav {
    flex-flow: column nowrap;
    font-size: 0.8125rem;
}
.vertical-navbar-wrapper {
    width: 100%;
    // height: calc(100vh - 72px);
    // overflow: auto;
}
.navbar-expand .navbar-toggler {
    display: block;
    border: none;
}
.nav-link {
    padding: 4px 0px !important;
    font-size: $font-size-base;
    font-family: $font-family-base;
    .nav-link-icon {
        .fas {
            font-size: $navbar-icon-size;
            width: 2rem;
            text-align: center;
        }
    }
}
.nav-item {
    .nav {
        .nav-link {
            font-size: $navbar-link-font-size;
            color: var(--bs-heading-color);
            padding-left: 18px !important;
        }
    }
}
.navbar-vertical-label {
    font-size: $font-size-sm;
    color: rgb(164, 164, 164);
}
.navbar-vertical-divider {
    margin-top: 0.65rem;
    color: rgb(164, 164, 164);
}
.dropdown-indicator {
    position: relative;
}
.dropdown-indicator:after {
    content: "";
    display: block;
    position: absolute;
    right: 5px;
    height: 0.4rem;
    width: 0.4rem;
    border-right: 1px solid $dropdown-indicator-color;
    border-bottom: 1px solid $dropdown-indicator-color;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition-property: border-color, -webkit-transform;
    transition-property: border-color, -webkit-transform;
    -o-transition-property: transform, border-color;
    transition-property: transform, border-color;
    transition-property: transform, border-color, -webkit-transform;
}
.dropdown-indicator[aria-expanded=true]:after {
    -webkit-transform: translateY(-50%) rotate(225deg);
    -ms-transform: translateY(-50%) rotate(225deg);
    transform: translateY(-50%) rotate(225deg);
}
.navbar-vertical-content{
    height: calc(100vh - 100px);
        overflow: auto;
}
.navbar-collapse-close {
    width: 30px;
    overflow: hidden;
    .navbar-vertical-content {
        width: 210px;
        .navbar-nav {
            width: 100%;
            padding: 0 10px 0 0;
            background-color: #EDF2F7;
            .navbar-vertical-label {
                display: none;
            }
        }
    }
}
.navbar-collapse-close:hover {
    overflow: visible;
    z-index: 999999;
    position: relative;
    transition: 200ms all;
    .navbar-vertical-content {
        width: 278px;
        // padding-right: 40px;
        transition: 200ms all;
        box-shadow: 20px 0rem 1rem rgba(0, 0, 0, 0.07);
        .navbar-vertical-label {
            display: block !important;
        }
    }
}
#navbarVerticalCollapse {
    display: block !important;
}
