@import '../../../../styles/responsive';
.accordion {
    .accordion-item {
        border: 0;

        .accordion-body {
            padding: 0;
            tbody {
                overflow-y: auto;
                max-height: 172px;
                display: block;
            }

            table thead,
            tbody tr {
                display: table;
                width: 100%;
                table-layout: auto;
            }

            .reservation-info {
                // max-width: 900px;
                width: 100%;
            }
        }
    }
}

.accordion-header {
    ::before {
        content: url('../../../../assets/svgIcons/add-circle-line.svg');
        position: relative;
        top: 2px;
        margin-right: 5px;
    }

    ::after {
        content: none !important;
    }
}

.accordion-button:not(.collapsed)::before {
    content: url('../../../../assets/svgIcons/indeterminate-circle-line.svg');
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.fleet-content-wrapper {
  max-height: calc(100vh - 166px);
  @include sm{
    max-height: calc(100vh - 154px);
  }
}
