<ng-template #nameTemplate let-inputValue="inputValue" let-index="index">
  <span>
    <input type="text" [id]="'input'+index" class="vehicle-data form-control border rounded-2 px-md-3 py-2 rounded-3 w-100 fw-medium" [class.disabled]="inputValue"  [(ngModel)]="vehicleTypesData[index].name" (ngModelChange)="onChange($event, index)">
  </span>
</ng-template>

<ng-template #activeTemplate let-inputValue="inputValue" let-index="index">
  <div>
    <select [id]="'select'+index" class="form-select form-control border rounded-2 px-md-3 py-2 rounded-3 w-100 fw-medium" [class.disabled]="inputValue">
      <option>Yes</option>
      <option >No</option>
    </select>
  </div>
</ng-template>

<app-listing [headers]="headers" [tableData]="vehicleTypesData" [title]="'Vehicle Types'"></app-listing>

<button type="button" class="btn btn-outline-secondary bg-white btn-outline rounded-3 fw-medium float-end mt-3" (click)="addRow()"> Add Row </button>

<!-- [value]="inputValue" -->
