@import '../../../../styles/responsive';
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  @include md {
    width: 0;
    height: 0;
  }
}
.fleet-content-wrapper{
  max-height: calc(100vh - 170px);
  overflow: auto;
  @include xl{
      max-height: calc(100vh - 180px);
  }
  @include md{
      max-height: calc(100vh - 150px);
  }
  @include sm{
      max-height: calc(100vh - 140px);
  }
}
.page-numbers{
    p{
        font-size: 14px;
    }
}
table{
  min-width: 1100px;
}
tbody tr{
  cursor: pointer;
}
