@import '../../../../styles/responsive';

.vehicle-detail-form{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    p{
        @include sm{
            font-size: 14px;
        }
    }
}
.example{
    font-size: 14px;
    color: #919191;
}
.dropdown {
  width: 100%;
}
// ::ng-deep{
//   .multiselect-dropdown {
//       .dropdown-btn {
//           .selected-item-container {
//               .selected-item {
//                   border: 0 !important;
//                   margin-right: 0 !important;
//                   float: none !important;
//                   max-width: none !important;
//                   padding: 0 4px !important;
//                   width: max-content !important;
//               }
//           }
//       }
//   }
//   .dropdown-list{
//       position: fixed !important;
//       z-index: 8 !important;
//       @media (max-width: 375px) {
//           top: 190px !important;
//           left: 0 !important;
//           right: 0 !important;
//           margin: 0 auto;
//       }
//       @media (max-width: 390px) {
//           // bottom: 1% !important;
//           // top: unset !important;
//       }
//       @media (min-width: 1024px) and (max-width: 1280px) {
//           top: 200px !important;
//       }
//       @include md{
//           min-width: 320px !important;
//           width: max-content !important;
//       }
//   }
// }
::ng-deep{
  .multiselect-dropdown {
          .dropdown-btn {
              .selected-item-container {
                  .selected-item {
                      border: 0 !important;
                      margin-right: 0 !important;
                      float: none !important;
                      max-width: none !important;
                      padding: 0 4px !important;
                      width: max-content !important;
                  }
              }
          }
          .dropdown-list {
            position: fixed;
          }
    }
}
