
<h2 class="d-inline-block mb-4" id="heading1">Airport Boards</h2>
<div class="fleet-content-wrapper">
<!-- FILTER BUTTONS START -->
<div class="filters">
  <div class="mb-3">
    <button class="btn btn-transparent filter-btns fw-bold py-2 px-2 px-sm-3" (click)="filterWithTopLevelFilter(-4); activeFilter='lFour'" [ngClass]="{filterActive: activeFilter === 'lFour'}">
      <span class="fa-solid fa-angles-left me-2"></span>
      <span>4 Hrs</span>
    </button>
    <button class="btn btn-transparent filter-btns fw-bold py-2 px-2 px-sm-3 ms-1 ms-sm-2" (click)="filterWithTopLevelFilter(-2); activeFilter='lTwo'" [ngClass]="{filterActive: activeFilter === 'lTwo'}">
      <span class="fa-solid fa-angles-left me-2"></span>
      <span>2 Hrs</span>
    </button>
    <button class="btn btn-transparent filter-btns fw-bold py-2 px-2 px-sm-3 mx-1 mx-am-2" (click)="resetData(); activeFilter='resetToNow'" [ngClass]="{filterActive: activeFilter === 'resetToNow'}">Reset To Now</button>
    <button class="btn btn-transparent filter-btns fw-bold py-2 px-2 px-sm-3 me-1 me-sm-2" (click)="filterWithTopLevelFilter(2); activeFilter='gTwo'" [ngClass]="{filterActive: activeFilter === 'gTwo'}">
      <span>2 Hrs</span>
      <span class="fa-solid fa-angles-right ms-2"></span>
    </button>
    <button class="btn btn-transparent filter-btns fw-bold py-2 px-2 px-sm-3" (click)="filterWithTopLevelFilter(4); activeFilter='gFour'" [ngClass]="{filterActive: activeFilter === 'gFour'}">
      <span>4 Hrs</span>
      <span class="fa-solid fa-angles-right ms-2"></span>
    </button>
  </div>
</div>
<!--  FILTER BUTTONS END -->

<div class="d-flex align-items-center gap-2 gap-xl-3 airport-boards-dropdowns mb-4 flex-xl-nowrap flex-wrap">
<ng-multiselect-dropdown #multiSelect
class="dropdown airlines-dropdown"
[settings]="settings"
[placeholder]="'Airline'"
[data]="airlines"
(onSelect)="onItemSelect($event, 'airline')"
(onDeSelect)="onDeSelect($event, 'airline')"
(onSelectAll)="onSelectAll($event, 'airline')"
(onDeSelectAll)="onDeSelectAll($event, 'airline')"
>
</ng-multiselect-dropdown>

<ng-multiselect-dropdown #multiSelect
class="dropdown from-dropdown"
[settings]="settings"
[placeholder]="'From'"
[data]="from"
(onSelect)="onItemSelect($event, 'from')"
(onDeSelect)="onDeSelect($event, 'from')"
(onSelectAll)="onSelectAll($event, 'from')"
(onDeSelectAll)="onDeSelectAll($event, 'from')"
>
</ng-multiselect-dropdown>

<ng-multiselect-dropdown #multiSelect
class="dropdown to-dropdown"
[settings]="settings"
[placeholder]="'To'"
[data]="to"
(onSelect)="onItemSelect($event, 'to')"
(onDeSelect)="onDeSelect($event, 'to')"
(onSelectAll)="onSelectAll($event, 'to')"
(onDeSelectAll)="onDeSelectAll($event, 'to')"
>
</ng-multiselect-dropdown>
</div>



<!-- <app-departure-arriaval [headers]="departureHeaders" [isDeparture]="true"></app-departure-arriaval>
<app-departure-arriaval [headers]="arrivalHeaders" [isDeparture]="true"></app-departure-arriaval> -->

<app-departure-arrival [headers]="departureHeaders" [tableData]="toSentDepartureData" [title]="'Departures'"></app-departure-arrival>
<app-departure-arrival [headers]="arrivalHeaders" [tableData]="toSentlArrivalData" [title]="'Arrivals'"></app-departure-arrival>
<app-departure-arrival [headers]="departedHeaders" [tableData]="departedData" [title]="'Departed'"></app-departure-arrival>
<app-departure-arrival [headers]="arrivedHeaders" [tableData]="arrivedData" [title]="'Arrived'"></app-departure-arrival>

</div>
